body{
    background-color:#eae2d0;
    height: 100%;
    margin: 0;
   
  }


.header_containe{ /*Navigation*/
    display: flex;
    flex-direction: column;
    width: auto;
    border-bottom: solid #d27528 10px;
}
/*-----------------------------------------------*/ 
.nav{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-bottom: solid #d27528 10px;
    
}

.nav ul{
        background-color: #eae2d0;
        height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

    li {
        list-style-type:none;   /* fjerner prikken  */  
    }
    
    a:link {
        text-decoration: none;  /* fjerner understregen*/
        color: black
    }
  
    
    @media screen and (max-width:400px){/*max= den størrelse og under, det er det højeste skærmen må være*/
    
    .nav ul{
            flex-direction: column;      
    }
    .intro{
   
        padding:10px
    }
    .intro_title{
        font-size: 20px;
    }
    .intro_text{
        font-size: 10px;
    }
    }

    /*-----------------------------------------------*/


    /*-----------------------------------------------*/
        
.main {
    background-color: #d27528;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;     
}

@media screen and (max-width:400px){/*max= den størrelse og under, det er det højeste skærmen må være*/
        .main{
            display: flex;
            flex-direction: column;
            flex:4;
            height: 100px;
            width: 100%;    
    }
}
    /*-----------------------------------------------*/


/*Forside billede*/
.hero-image{
    background-image:url(billeder/forside.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    border-bottom: solid #d27528 10px;
    
}
.hero_title{ 
    font-size: 10vw;
    color: #eae2d0;
    text-align: center;
    justify-content: center;
}
.hero_head{ 
    font-size: 40px;
    color: #eae2d0;
    text-align: center;  
}
.hero_text{ 
    font-size: 30px;
    color: #eae2d0;
    text-align: center;  
}

@media screen and (max-width: 400px) {
    .hero-image {
        height: 50%;/*tilpasser sig havldelen af skærmen*/
        padding: 10px; /* Mindre padding for små skærme */
    }

    .hero_head {
        font-size: 15px; /* Dynamisk tekststørrelse */
        padding: 5px;
    }
    .hero_text {
            font-size: 10px; /* Dynamisk tekststørrelse */
            padding:5px
    }
}

.info{
    text-align: center;
}

.info_title{
   font-size: 30px;
   margin:50px;
}

.info_text{
    font-size: 20px;
    padding:10px;
    line-height: 30px;
    margin:20px;
}

    
    

                                            /*SIDE 1*/ 

  .intro{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: solid #d27528 10px;
        padding:20px
    }
    .intro_title{
        font-size: 50px;
    }
    .intro_text{
        font-size: 20px;
    }
    @media screen and (max-width: 400px) {
        .intro_title{
            font-size: 20px;
        }
        .intro_text{
            font-size: 15px;
        }
    }

.indhold{ 
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;  
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;   
}
.indhold > * {
width: 30%;
}

.box{   
   background-color: white;
    padding: 20px;
    margin: 10px;
    /*width: 50%;*/
    border-radius: 8px;
    justify-items: center;
   
}
.box_title{
    font-size: 40px;
}
.box-image{ 

    padding:10px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    border-radius: 20px;
}


.box-video{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    padding: 10px;
    border-radius: 20px;
}


.box_dropdown { /*tekst bokse*/
  
    display: inline-block;
    display: block;
  }
  
  .box_dropdown_content { /*projekt bokse*/
    display: none;
    background-color: #d27528;
    min-width: 160px;
    padding: 12px 16px;
    border:solid #d27528 5px;
    border-radius: 8px;
  }
  
 .box_dropdown:hover .box_dropdown_content { /*projekt bokse*/
    display: block;
  }


@media screen and (max-width: 400px){
    .indhold{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        flex-wrap: wrap;  
        font-size: 10px;
    }
    .indhold > * {
    width: 50%;
    justify-content:center;
    }
    .box_title{
        font-size: 20px;
    }
    .box-image{ 
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding:10px;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
    }
    
    
    .video{ 
        flex-wrap: wrap;
        width: 25%;
        height:auto;
        padding: 10px;
        justify-content: center;
    }


      
      .dropdown-content { /*projekt bokse*/
        display: none;
        background-color: #d27528;
        width: 50%;
        border:solid #d27528 5px;
        border-radius: 8px;
        justify-items: center;
        font-size: 10px;
        padding:10px
        
      }
      
    .dropdown-content { /*projekt bokse*/
        display: block;
        padding:5px;
        justify-items: center;
      }

    }


                                                /*SIDE 2*/

.hero-kontakt{ /* Kontakt billede*/
  
    background-image:url(billeder/mig.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    align-content: center;
    border-top:solid #d27528 10px;
    }

   
    .hero_kontakt_title{ 
        font-size: 50px;
        color: #eae2d0;
        text-align: left;
    }

    .hero_head_mail{
        font-size: 30px;
        color: #eae2d0;
        text-align: left; 
    }

    a.hero_head_mail{ /*W3 school*/
    color:#eae2d0;
    text-decoration:none;
}

@media screen and (max-width: 400px) {/* Kontakt billede*/

.info_title{
    font-size: 15px;
}
   
.hero-kontakt{
    height: 50%;/*tilpasser sig havldelen af skærmen*/
    padding: 10px; /* Mindre padding for små skærme */
}

.hero_kontakt_title{
    font-size: 15px; /* Dynamisk tekststørrelse */
    padding: 5px;
}
.hero_head_mail {
        font-size: 10px; /* Dynamisk tekststørrelse */
        padding:5px
}
}



                                        /* NEDERSTE DEL AF SIDEN*/

.footer{
    
    background-color:#eae2d0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 30px;  
    border-top: solid #d27528 10px;
}

.footer_heading{
    font-size: 25px;
}

.footer_kontakt{ 
    padding: 10px;
    margin: 0;  
    width: 50%;
}

.footer_tekt{
    font-size: 20px;
}


.footer_logo{
    width:150px;
    text-align:right;
}

.footer_logo_container{
    display: flex;
    text-align: right;
    width: 50%;
    justify-content: right;
}

    
@media screen and (max-width: 400px){
    .footer{
        display: flex;
       text-align: center;
        flex-direction: column;
        align-items: center;
        padding:10px 30px;
        height: 750x; 
    }
    
    .footer_heading{
        font-size: 20px;
    }

    .footer_kontakt{ 
        padding: 10px;
        margin: 0;  
        width: 100%;
        justify-content: center;
        font-size: 10px;
    }
    
    .footer_logo{
        width: 50px;
    }
    
    .footer_logo_container {
        display: flex;
        width: 100%;
        justify-content: center;
        width: 100%;
    }
}







