body{
    background-color:#eae2d0;
  
    height: 100%;
    margin: 0;
}

.container{ /*Navigation*/
    display: flex;
    flex-direction: column;
    width: auto;
    border-bottom: solid #d27528 10px;
    font-family: 'Times New Roman', Times, serif;
}



.nav{
    justify-content: center;
    text-align: center;
}


.nav ul{
        background-color: #eae2d0;
        height: 100px;
            display: flex;
            flex-direction: row;
            
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        
    li {
        list-style-type:none;   /* fjerner prikken  */
        
    }
    
    a:link {
        text-decoration: none;  /* fjerner understregen*/
       
        color: black
    }
    @media screen and (max-width:400px)/*max= den størrelse og under, det er det højeste skærmen må være*/
    {
        .main{
            display: flex;
            flex-direction: column;
            flex:4;
            height: 100px;
            width: 100%;
            border: 5px solid white;   
    }
    .nav ul{
            flex-direction: column;      
    }
    }
section{ /*større tekst bokse, forside, side 1,2*/
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: solid #d27528 10px;
    
}


@media screen and (max-width: 400px){
    section{ /*større tekst bokse, forside, side 1,2*/
      
        flex-direction: column;
        text-align: center;
      font-size: 10px;
}
    
}        
.main {
    background-color: #d27528;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%; 
}

.hero{ /* Kontakt billede*/
  
    background-image:url(billeder/mig.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    align-content: center;
    border-bottom:solid #d27528 10px;
    }

   
    .hero-2{/* Kontakt navn*/
        font-size: 50px;
        color: #eae2d0;
        text-align: left;
        
        
    }
    .hero-3{/* mail og tlf.*/
        font-size: 50px;
        color: #eae2d0;
        text-align: left; 
    }
a.style { /*W3 school*/
    color:#eae2d0;
    text-decoration:none;
}


.hero-tekst{ /*Forside*/
    font-size: 10vw;
    color: #eae2d0;
    text-align: center;
    justify-content: center;
}
.hero-tekst2{/*Forside*/
    font-size: 50px;
    color: #eae2d0;
    text-align: center;
    
}
@media screen and (max-width: 400px) { /* Kontakt billede*/
    .hero{ 
        height: 50vh;
        padding: 10px;
            
        }
       
        .hero-2{/* Kontakt navn*/
            font-size: 40px;
            color: #eae2d0;
            text-align: center;
            
            
        }
        .hero-3{/* mail og tlf.*/
            font-size: 20px;
            color: #eae2d0;
            text-align: center; 
        }
    
    
    
    .hero-tekst{ /*Forside*/
        font-size: 10vw;
        color: #eae2d0;
        text-align: center;
        justify-content: center;
    }
    .hero-tekst2{/*Forside*/
        font-size: 50px;
        color: #eae2d0;
        text-align: center;
        
    }
    
    
}

.hero-image{/*Forside billede*/
    background-image:url(billeder/forside.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    
}
.hero-tekst{ /*forsidebillede tekst*/
    font-size: 10vw;
    color: #eae2d0;
    text-align: center;
    justify-content: center;
}
.hero-tekst2{ /*forsidebillede tekst*/
    font-size: 50px;
    color: #eae2d0;
    text-align: center;
    
}

@media screen and (max-width: 400px) {
    .hero-image {
        height: 50vh¨;/*tilpasser sig havldelen af skærmen*/
        padding: 10px; /* Mindre padding for små skærme */
    }

    .hero-tekst {
        font-size: 8vw; /* Dynamisk tekststørrelse */
        padding: 5px;
    }
    .hero-tekst2 {
            font-size: 8vw; /* Dynamisk tekststørrelse */
            padding:5px
    }
}

.textbox1{ /*forside tekst*/
    text-align: center;
    justify-content: center;
    border-top: solid#d27528 10px;
}



.indhold{ /*side 1*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;  
}
.indhold > * {
width: 50%;
}
    
.image{ /*Billede1*/
    display: inline-flex; /* billedet opfører sig ligesom resten af indholdet, så det kommer til at stå på samme linje*/
    padding:10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height:auto;
   
}
.image2{ /*Billede2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height:auto;
}
.video{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height:auto;
}
.dropdown { /*projekt bokse*/
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content { /*projekt bokse*/
    display: none;
    position: relative;
    background-color: #d27528;
    min-width: 160px;
    z-index: 1; /*Det gør at boksen ryger uden på øverste boks*/
    padding: 12px 16px;
    border:solid #d27528 5px;
    border-radius: 8px;
    
  }
  
  .dropdown:hover .dropdown-content { /*projekt bokse*/
    display: block;
  }



.box1 .box6{ /*side1 (6 bokse) */
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 50%;
    
    border-radius: 8px;
    text-align:center;
    
}

@media screen and (max-width: 400px){
    .indhold{ /*side 1*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        flex-wrap: wrap;  
        font-size: 10px;
    }
    .indhold > * {
    width: 50%;
    justify-content:center;
    }
    
    .image{ /*Billede1*/
        display: inline-flex; /* billedet opfører sig ligesom resten af indholdet, så det kommer til at stå på samme linje*/
  
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height:auto;
        justify-content:center;
    }
    .image2{ /*Billede2*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:auto;
        justify-content:center;
    }
    
    .dropdown { /*projekt bokse*/
     
        display: inline-block;
        
      }
      
      .dropdown-content { /*projekt bokse*/
        display: none;
        background-color: #d27528;
        min-width: 100px;
        z-index: 1; /*Det gør at boksen ryger uden på øverste boks*/
        border:solid #d27528 5px;
        border-radius: 8px;
        justify-items: center;
        font-size: 10px;
        
      }
      
    .dropdown-content { /*projekt bokse*/
        display: block;
        padding:5px;
      }

    .box1 .box6{ /*side1 (6 bokse) */
        flex-wrap: wrap;
    }
}


.footer{
    
    background-color:#eae2d0;
    display: flex;
   align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 30px;
    
    
}


.kontakt
{ /*footer*/
   padding: 10px;
   margin: 0;  
  width: 50%;
  
}


.logo{/*footer*/
    width: 150px;
   
    text-align: right;
}

.logo-container {
    display: flex;
    text-align: right;
    width: 50%;
    justify-content: right;
}

    
@media screen and (max-width: 400px){
    .footer{
        display: flex;
       text-align: center;
        flex-direction: column;
        align-items: center;
        padding:10px 30px;
        height: 750x;
        
        
    }
    
    .kontakt{ /*footer*/
       padding: 10px;
       margin: 0;  
      width: 100%;
      justify-content: center;
      font-size: 10px;
      
    }
    
    
    .logo{/*footer*/
        width: 50px;
    }
    
    .logo-container {
        display: flex;
        width: 100%;
        justify-content: center;
        width: 100%;
    }
}







