body{
    background-color:#eae2d0;
    height: 100%;
    margin: 0;
    font-family:'Noto Serif', serif;
 
  }


  

.header_container{ /*Navigation*/
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #efece6;
   
    
}


.nav{
    justify-content: center;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    
    font-size: 20px;
    border-bottom: solid #d27528 10px;
    
}

.nav ul{/*W3 school navigation */
       
        height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            
        }

    li {
        list-style-type:none;   /* fjerner prikken */  
    }
    
    a:link {
        text-decoration: none;  /* fjerner understregen*/
        color: black
    }
    a:visited{
        color:black;
    }
  a:hover{
    color: #d27528;
   
  }
    .info{
        text-align: center;
    }
    
    .info__title{
       font-size: 30px;
       margin:50px;
       
    }
    
    .info__text{
        font-size: 20px;
        padding:10px;
        line-height: 30px;
        margin:20px;
        font-family:'monsterrat', sans-serif;
    }
    
    @media screen and (max-width:600px){/*max= den størrelse og under, det er det højeste skærmen må være*/
    
    .nav ul{
            flex-direction: column;      
    }
    .intro{
   
        padding:10px
    }
    .intro_title{
        font-size: 20px;
    }
    .intro_text{
        font-size: 10px;
    }
    }


    
        
.main {
    background-color: #d27528;
    display: flex;
    flex-direction: column;
    width:100%;     
 
}

@media screen and (max-width:600px){/*max= den størrelse og under, det er det højeste skærmen må være*/
        .main{
            display: flex;
            flex-direction: column;
            flex:4;
            height: 100px;
            width: 100%;    
    }
}
                                    /*-- FORSIDE -*/



.hero__image{ /*W3 school Hero */
    background-image:url(billeder/forside.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    font-family:'Noto Serif', serif;
    
}
.hero__title{ 
    font-size: 80px;
    color: #eae2d0;
    text-align: center;
    justify-content: center;
    font-family:'Noto Serif', serif;
}
.hero__head{ 
    font-size: 30px;
    color: #eae2d0;
    text-align: center;  
    font-family:'monsterrat', sans-serif;
}
.hero__text{ 
    font-size: 30px;
    color: #eae2d0;
    text-align: center;  
    font-family:'monsterrat', sans-serif;
}

@media screen and (max-width: 400px) {
    .hero__image {
        height: 50%;
        padding: 10px; 
    }
    
    .hero__head {
        font-size: 15px; 
        padding: 5px;
    }
    .hero__text {
            font-size: 10px; 
            padding:5px
    }

    .hero__title{ 
        font-size: 20px;
        color: #eae2d0;
        text-align: center;
        justify-content: center;
}

}

    

                                            /*SIDE 1*/ 
h1{
    font-family:'Noto Serif', serif;
    font-size: 40px;
}
  .intro{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:20px
        
    }
   
        
    .intro__text{
        font-size: 25px;
        font-family:'monsterrat', sans-serif;
    }
    @media screen and (max-width: 600px) {
        .intro__title{
            font-size: 20px;
        }
        .intro__text{
            font-size: 15px;
        }
    }

.indhold{ 
   display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;   
    font-family:'monsterrat', sans-serif;
    font-weight: bold;
}




.box{   
   background-color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
   width: 30%;
   height: auto;
}

.box__title{
    font-size: 40px;
    font-family:'Noto Serif', serif;
  
}
.box__image{ 

    padding-bottom:10px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    border-radius: 20px;
}


.box__video{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    padding-bottom: 10px;
    border-radius: 20px;
}


  
  .box__content { /*projekt bokse*/
    font-family:'monsterrat', sans-serif;
    border-top:solid #d27528 5px;
  }


@media screen and (max-width: 600px){
    .indhold{ 
        display: flex;
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;  
        font-size: 10px;
    }
    
    
    .box{   
        background-color: white;
         padding: 20px;
         margin: 20px;
         border-radius: 10px;
        width: 50%;
        height: auto;
        
     }
    .box__title{
        font-size: 20px;
    }
    .box__image{ 
        width: 100%;
        height: auto;
        
        border-radius: 20px;
    }
    
    
    .video{ 
        flex-wrap: wrap;
        width: 25%;
        height:auto;
        padding: 10px;
        justify-content: center;
    }


      
      .dropdown__content { /*projekt bokse*/
        display: none;
        width: 100%;
        border-radius: 8px;
        justify-items: left;
        font-size: 10px;
        padding:10px;
        flex-direction:column;
        
      }
  
    }



                                                /*SIDE 2*/

.info__kontakt{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.info__kontakt__title{
   font-size: 25px;
   margin:50px;
   text-align: center;
   font-family:'monsterrat', sans-serif;
   
}




.hero__kontakt{ /*W3 school*/
  
    background-image:url(billeder/mig.jpg);
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    align-content: center;
    
    }

   
    .hero__kontakt__title{ 
        font-size: 50px;
        color: #eae2d0;
        text-align: left;
    }

    .hero__head__mail{
        font-size: 30px;
        color: #eae2d0;
        text-align: left; 
        font-family:'monsterrat', sans-serif;
    }
    .hero__telefon{
        font-size: 30px;
        color: #eae2d0;
        text-align: left; 
        font-family:'monsterrat', sans-serif;
    }

    a.hero__head__mail{ /*W3 school*/
    color:#eae2d0;
    text-decoration:none;
    
}

@media screen and (max-width: 600px) {/* Kontakt billede*/

.hero__kontakt{ 
    padding: 10px; 
}


.info_title{
    font-size: 10px;
    
}
   
.hero-kontakt{
    
    height: 50%;
    padding: 10px; 
}

.hero_kontakt_title{
    font-size: 10px; 
    padding: 5px;
}
.hero_head_mail {
        font-size: 10px;
        padding:5px
        
}
}



                                        /* NEDERSTE DEL AF SIDEN*/

.footer{
    
    background-color:#efece6;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 30px;  
    border-top: solid #d27528 10px;
}

.footer__heading{
    font-size: 25px;
    font-family:'Noto Serif', serif;
}

.footer__kontakt{ 
    padding: 10px;
    margin: 0;  
    width: 50%;
}

.footer__tekt{
    font-size: 20px;
    font-family:'monsterrat', sans-serif;
}


.footer__logo{
    width:150px;
    text-align:right;
    
}

.footer__logo_container{
    display: flex;
    text-align: right;
    width: 50%;
    justify-content: right;
}

    
@media screen and (max-width: 600px){
    .footer{
        display: flex;
       text-align: center;
        flex-direction: column;
        align-items: center;
        padding:10px 30px;
        
    }
    
    .footer__heading{
        font-size: 20px;
    }

    .footer__kontakt{ 
        padding: 10px;
        margin: 0;  
        width: 100%;
        justify-content: center;
        font-size: 10px;
    }
    
    .footer__logo{
        width: 50px;
    }
    
    .footer__logo_container {
        display: flex;
        width: 100%;
        justify-content: center;
        width: 100%;
    }
}







